@page "{Id}"
@model LoginSampleTripleA.Pages.Users.ManageRoleModel
@{
}

<h1>Manage User Roles</h1>
<hr />

<table class="table table-striped table-bordered">
    <tr>
        <td>User Name</td>
        <td>@Model.CurrentUser.UserName</td>
    </tr>
@*     <tr>
        <td>Name</td>
        <td>@Model.CurrentUser.</td>
    </tr> *@
    <tr>
        <td>Email</td>
        <td>@Model.CurrentUser.Email</td>
    </tr>
</table>

<hr />

<h1 class="text-primary">Users Roles</h1>
<form>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" value="@Model.CurrentUser.Id" name="Id" />
    @foreach(var item in Model.AllRoles)
    {
        <input type="checkbox" name="Roles" checked="@Model.UserRoles.Contains(item.Name)" value="@item.Name" />
    }
    <div class="py-2">
        <button type="submit" class="btn btn-primary">Update Roles</button>
        <a asp-page="list" class="btn btn-secondary">Back To List Page</a>
    </div>
</form>